body {
    font-family: Arial;
    margin: 0;
    background-color: #f0fff4;
}

header {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px;
    background-color: white;
    color: #2e8b57;
    border: none;
    cursor: pointer;
}

section {
    padding: 20px;
}