body {
    font-family: Arial;
    margin: 0;
    background-color: #eef2ff;
}

header {
    background-color: #4b0082;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px;
    background-color: white;
    color: #4b0082;
    border: none;
    cursor: pointer;
}